---
import CommentCard from "./CommentCard.astro";

const users = await fetch(
  "https://randomuser.me/api/?results=20&inc=name,picture"
)
  .then((res) => res.json())
  .then((data) => data.results);
import imagen from "../assets/huacachina.jpeg";
---

<div
  class="relative w-full overflow-hidden h-[48rem] bg-gray-900 rounded-lg shadow-md"
>
  <div class="absolute inset-0 w-full h-full">
    <span class="block w-full h-full">
      <img src={imagen.src} alt="" class="w-full h-full object-cover" />
    </span>
    <div class="absolute inset-0 bg-gradient-to-t from-black/90 to-transparent">
    </div>
  </div>
</div>
<div
  class="flex gap-4 w-fit animate-scroll whitespace-nowrap absolute bottom-4"
  style="animation: scroll-left 40s linear infinite;"
>
  {
    users.map(
      (user: {
        name: { first: string; last: string };
        picture: { large: string };
      }) => (
        <CommentCard
          imagen={user.picture.large}
          nombre={`${user.name.first} ${user.name.last}`}
          cargo="Cliente"
          comentario="Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, provident deleniti quisquam."
        />
      )
    )
  }
  <!-- Duplicamos para hacer bucle infinito -->
  {
    users.map(
      (user: {
        name: { first: string; last: string };
        picture: { large: string };
      }) => (
        <CommentCard
          imagen={user.picture.large}
          nombre={`${user.name.first} ${user.name.last}`}
          cargo="Cliente"
          comentario="Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, provident deleniti quisquam."
        />
      )
    )
  }
</div>

<style>
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-25%);
    }
  }
</style>
